# Introducción a Jupyter Notebook y Pandas

Este notebook cubre algunos conceptos básicos sobre el uso de Jupyter Notebook y la biblioteca `pandas` en Python para análisis de datos.

## 1. ¿Qué es Jupyter Notebook?

Jupyter Notebook es una aplicación web que permite crear y compartir documentos con código en vivo, ecuaciones, visualizaciones y texto explicativo. Es ampliamente utilizado en ciencia de datos, aprendizaje automático, análisis de datos y más.

### Atajos útiles:
- `Shift + Enter`: Ejecutar la celda seleccionada y pasar a la siguiente celda
- `Esc + A`: Insertar una celda arriba
- `Esc + B`: Insertar una celda abajo
- `Esc + D + D`: Eliminar la celda seleccionada
- `M`: Cambiar la celda a modo Markdown (texto)
- `Y`: Cambiar la celda a modo de código

## 2. ¿Qué es Pandas?

`pandas` es una biblioteca de Python utilizada para el análisis y manipulación de datos. Facilita el trabajo con datos tabulares (similares a una hoja de cálculo), y proporciona estructuras de datos poderosas como **DataFrame** y **Series**.

### Instalación:
Si aún no tienes `pandas` instalado, puedes instalarlo con:
```
!pip install pandas
```
(Ejecuta este comando en una celda de código si necesitas instalarlo).

In [1]:
# Importar la biblioteca pandas
import pandas as pd

# También es común importar NumPy cuando trabajamos con pandas
import numpy as np

## 3. Creación de un DataFrame

Un **DataFrame** es una estructura de datos de `pandas` que organiza los datos en filas y columnas, como una tabla. A continuación, crearemos un DataFrame de ejemplo.

In [2]:
# Crear un DataFrame de ejemplo
data = {
    'Nombre': ['Ana', 'Luis', 'Marta', 'Juan'],
    'Edad': [23, 35, 29, 42],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

df = pd.DataFrame(data)
df

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona
2  Marta    29   Valencia
3   Juan    42    Sevilla

## 4. Exploración de datos en un DataFrame

Podemos explorar y manipular los datos en un DataFrame utilizando diversas funciones de `pandas`.

In [3]:
# Ver el tamaño del DataFrame (filas, columnas)
df.shape

(4, 3)

In [4]:
# Ver los tipos de datos de cada columna
df.dtypes

Nombre    object
Edad       int64
Ciudad    object
dtype: object

In [5]:
# Mostrar las primeras filas del DataFrame
df.head(2)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    35  Barcelona

## 5. Operaciones comunes en Pandas

### Filtrar datos
Filtrar los datos de acuerdo a ciertas condiciones.

In [6]:
# Filtrar los registros donde la edad es mayor a 30
df[df['Edad'] > 30]

  Nombre  Edad     Ciudad
1   Luis    35  Barcelona
3   Juan    42    Sevilla

### Agregar una nueva columna
Podemos crear nuevas columnas en el DataFrame. En este ejemplo, añadimos una columna "Años hasta jubilación" estimando la jubilación a los 65 años.

In [7]:
# Añadir una columna "Años hasta jubilación"
df['Años hasta jubilación'] = 65 - df['Edad']
df

  Nombre  Edad     Ciudad  Años hasta jubilación
0    Ana    23     Madrid                     42
1   Luis    35  Barcelona                     30
2  Marta    29   Valencia                     36
3   Juan    42    Sevilla                     23

## 6. Guardar y cargar un DataFrame

Pandas permite guardar los datos en diferentes formatos como CSV y luego cargarlos nuevamente.

In [8]:
# Guardar el DataFrame en un archivo CSV
df.to_csv('datos.csv', index=False)

In [9]:
# Cargar el DataFrame desde el archivo CSV
df_cargado = pd.read_csv('datos.csv')
df_cargado

  Nombre  Edad     Ciudad  Años hasta jubilación
0    Ana    23     Madrid                     42
1   Luis    35  Barcelona                     30
2  Marta    29   Valencia                     36
3   Juan    42    Sevilla                     23

¡Y eso es todo! Ahora tienes un conocimiento básico de Jupyter Notebook y algunas de las funcionalidades principales de `pandas`.